h1 {
    font-family: 'Franklin Gothic Medium';
    font-size: 48;
    font-weight: bold;
}

/* Header */
.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #fff;
    font-size: 14px;
  
}
  
.header li {
    display: inline-block;
    padding: 10px;
}
  
.header a {
    color: #4A4A4A;
}
  
a.home {
    color: #4D00FF;
}
